<!DOCTYPE HTML>
<html>
	<head>
		<title>Charly Garcia - Clase HTML, CSS y BD</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
		<script src="assets/js/vue.global.js"></script>
	</head>
	<body class="is-preload" id="#body">
		<!-- <div id="app"> -->

			<!-- Wrapper-->
				<div id="wrapper">
	
					<!-- Nav -->
						<nav id="nav">
							<a href="#"><img src="img/icon_home.png" class="icons" srcset=""> <span>Inicio</span></a>
							<a href="#work"><img src="img/icon_cd.png" class="icons" srcset=""><span>Discografía</span></a>
							<a href="#contact" ><img src="img/icon_contact.png" class="icons" srcset=""><span>Contactos</span></a>
						</nav>
	
					<!-- Main -->
						<div id="main">
	
							<!-- Me -->
								<article id="home" class="panel intro">
									<header>
										<h1>Charly Garcia</h1>
										<p>Proyecto clase HTML, CSS y base de datos</p>
									</header>
									<a href="#work" class="jumplink pic">
										<span class="arrow icon solid fa-chevron-right"><span>Ver Discografias</span></span>
										<img src="images/erwer.jpg" alt="" />
									</a>
								</article>
	
							<!-- Work -->
								<article id="work" class="panel">
									<header>
										<h2>Discografia</h2>
									</header>
									<p>
										Aca vamos a encontrar la discografia completa que se encuentra en la base de datos
									</p>
									<section>
										<div class="row pb-2">
											<div class="col-6">
												<label class="form-label"  for="#bandas">Bandas: </label>
												<select name="bandas" id="bandas" class="m-2" v-model="idBandas" @change="filtrar()">
													<option value="0">Todos</option>
													<option v-for="banda in bandas" :value="banda.id">{{ banda.nombre }}</option>
												</select>
											</div>
											<div class="col-6">
												<label class="form-label"  for="#tipos">Tipo CD: </label>
												<select name="tipos" id="tipos" class="m-2" v-model="idTipos" @change="filtrar()">
													<option value="0">Todos</option>
													<option v-for="tipo in tipos" :value="tipo.id">{{ tipo.nombre }}</option>
												</select>
											</div>
										</div>
										<div class="row">
											<div class="col-4 col-6-medium col-12-small" v-for="(discografia, index) in discografias" :key="index">
												<a v-on:click="mostrar(index, true)" v-if="!discografia.ocult" :id="'img_'+discografia.id" class="image fit"><img :src="discografia.img" alt="" class="caratula"></a>
												<div class="superponer" v-bind:style="{'background-image':'url('+discografia.img+')'}" v-if="discografia.ocult" v-on:click="mostrar(index,false)">
													<p>{{ discografia.nombre }}<br/>
														{{ discografia.year }}<br/>
														{{ discografia.nombre_banda }}<br/>
														{{ discografia.tipo_cd }}
													</p>
												</div>
											</div>
										</div>
									</section>
								</article>
	
							<!-- Contact -->
								<article id="contact" class="panel">
									<header>
										<h2>Contacto</h2>
									</header>
									<form action="#" method="post">
										<div>
											<div class="row">
												<div class="col-6 col-12-medium">
													<input type="text" name="name" placeholder="Name" />
												</div>
												<div class="col-6 col-12-medium">
													<input type="text" name="email" placeholder="Email" />
												</div>
												<div class="col-12">
													<input type="text" name="subject" placeholder="Subject" />
												</div>
												<div class="col-12">
													<textarea name="message" placeholder="Message" rows="6"></textarea>
												</div>
												<div class="col-12">
													<input type="submit" value="Enviar" />
												</div>
											</div>
										</div>
									</form>
								</article>
	
						</div>
	
					<!-- Footer -->
						<div id="footer">
							<ul class="copyright">
								<li>Prof. Juan Ezequiel Roclaw</a></li>
							</ul>
						</div>
	
				</div>
		<!-- </div> -->

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			
			<script src="assets/js/conexion.js"></script>
			<script src="assets/js/main.js"></script>
			<script>
				const mountedApp = app.mount("#work")
			</script>

	</body>
</html>